{% extends 'header.html' %}
{% load i18n %}
{% load  static %}
{% block title %}

Dowell App
{% endblock title %}
{% block content %}

<br><br>

<center>

<div class="row justify-content-center mt-5">
        <div  class="col-md-6 bg-dark">
    <h1 style="color:yellow" align="center"><b>{% trans 'Forgot Password'%}</b></h1><br>
</div>
</div>

<div class="row justify-content-center">
    <div  class="col-md-6 bg-dark">
    <form method="post">
        {% csrf_token %}
        <div class="col-md-4 justify-content-center">
        <div class="row">
        <div class="form-group col-md-12 mb-0">
        <label  style="font-size:larger;color:yellow;float:left" for="username">Username*</label><br>
        <input type="text" name="username" placeholder="Username" class="form-control" required><br><br>
        <label style="font-size:larger;color:yellow;float:left" for="email">Email*</label><br>
        <input type="email" name="email" placeholder="Email" class="form-control" required><br><br>
        <input type="submit" class="btn btn-success" >
        </div>
        </div>
        </div>
    </form>
    <br>
    </div>
</div>
</center>

{% endblock %}