{% extends 'lav_base.html' %}
{% load  static %}
{% block title %}
Dowell App
{% endblock title %}
{% block content %}
<div class="container1 bg-light">
    <div class="imgp"><img style="width:100%;height: 100%" src="{% static 'img/lav.png' %}"/></div>
    
     
               
                    <center>
                        <img width="100%" height="50%" src="{% static 'img/errord1.png'%}">
            
                        <h4 align="center">Our apologies, this is almost certainly not the page you were looking for.</h4>
                        
                        <a>
                            <img height="40%" widht src="{% static 'img/error-404.png'%}" alt="Return to the Homepage">
                        </a>
                   <br>
                           <h4 align="center">visit our <a href="/">home page</a>.
                        </h4>  </center>
        
    
</div

{% endblock content %}