{% extends 'lav_base.html' %}
{% load  static %}
{% block title %}
Dowell App
{% endblock title %}

{% block content %}
{% comment %} <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a href="#" class="navbar-brand">Nagraj</a>
        <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav">
                <a href="#" class="nav-item nav-link active">Home</a>
                <a href="#" class="nav-item nav-link">Services</a>
                <a href="#" class="nav-item nav-link">About</a>
              	<a href="#" class="nav-item nav-link">Contact</a>
            </div>
            <div class="navbar-nav ms-auto">
                <a href="#" class="nav-item nav-link">Login</a>
              	<a href="#" class="nav-item nav-link">Register</a>
            </div>
        </div>
    </div>
</nav> {% endcomment %}
<link href="{%static 'css/test.css' %}" rel="stylesheet">
<div class="container1 bg-light">
    <div class="imgp"><img style="width:100%;height: 100%" src="{% static 'img/lav.png' %}"/></div>
    <div class="fdown">
        <div class="row justify-content-center">

                    <center>
                        <div class="mt-5 text-dark" style="font-size: 40px;">Login with :</div>
                        <a href="#f">
                        <div class="mt-5 text-success" style="font-size: 30px;">Face</div>
                    <div class="round_img bg-light"><img style="margin-top:8px" width="50%" height="90%" src="{% static 'img/faceanimate.png' %}"></div>
                </a>
                    <h3 class="mt-5">OR</h3>
                   <a onclick="urlink()">
                    <div class="mt-5 text-success" style="margin-bottom: 15%;font-size: 30px;">Direct link</div></a>
                </center>
            </div>

    </div>
    </div>
<script>
    function urlink(){
        var rtime= new Date().toLocaleString();
        location.href='first?user=dowell_default&code=1mpre$$10n&ltime='+rtime
    }</script>
{% endblock content %}