{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>
    Dowell App
 </title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
</head>
   <body class="bg-dark">
    <div class="container bg-dark h-100">
    <div class="row justify-content-center">
        <div class="col-md-6 ">
        <img style="width:100%;height: 100%" src="{% static 'img/internet.png' %}"/>
        </div>
    </div>

    <br>
    <div style="color:white;text-align:center" >
        <h1>No internet found. <br>Check your connection <br>or try again</h1><br>
        <a href="newhome" style="font-size:24px;background-color:#728C00; font-weight:bold; color:white" class="btn">Try Again</a>
    </div>
</div>
   </body>
</html>