{% extends 'header.html' %}
{% load i18n %}
{% load  static %}
{% block title %}
{{title}}
{% endblock title %}
{% block content %}
<style>
    body{
        background-color:rgb(242, 242, 242);
        min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
    }
#p_img:hover{
    cursor: pointer;
}
</style>

<div class="container">

<center>
                <div class="col-md-6">
                    <div class="row">
                    <div class="col-md-6" ><img id="p_img" style="float:left" width="40%" height="80%" class="rounded-circle" src="{% static 'img/face.png' %}"></div></div>
                    <form action="facecheck" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                    <input type="file" id="profile_image" name="profile_image" accept="image/*;capture=camera" style="display: none;" onchange="this.form.submit()"/>
                    </form>
                    <script>
$("#p_img").click(function() {
    $("input[id='profile_image']").click();
});
</script>
                    <div class="row justify-content-center">



                        <!--<div class="mt-5 text-dark" style="font-size: 40px;">Login with :</div>-->

                        <!--<div class="mt-5 text-success" style="font-size: 30px;">Face</div>-->

            {% get_current_language as CURRENT_L %}

                    <h3 class="mt-5">OR</h3><br>
                   <a style="text-decoration:none;" href="#" onclick="urlink()">
                    <div class="mt-5 text-success col-md-12" style="font-size: 30px;"> {% trans 'Login with direct link' %}</div></a>
            </div>
            </div></center>
            </div>
<script>
    function urlink(){
        var rtime= new Date().toLocaleString();
        location.href='linkcheck?user=dowell_default&code=1mpre$$10n&ltime='+rtime
    }</script>
{% endblock content %}