{% extends 'header.html' %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load  static %}
{% block title %}

Dowell App
{% endblock title %}
{% block content %}
<script>
    function previewFile(input){
        var file = $("input[type=file]").get(0).files[0];

        if(file){
            var reader = new FileReader();

            reader.onload = function(){
                $("#previewImg").attr("src", reader.result);
            }

            reader.readAsDataURL(file);
        }
    }
</script>
<div class="container" style="color:yellow">
<div class="row justify-content-center">

    <div class="col-md-6 bg-dark ">
    <h1 align="center"><b>Join us</b></h1></div>
</div>
<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6 bg-dark" style="box-shadow:2px 2px 2px 2px rgba(0,0,0,0.4">
 <form action=""  class="" method="POST" enctype="multipart/form-data" >
     {% csrf_token %}
     <center>
     <div style="color:yellow; width:150px; height:150px;"><img width="100%" height="100%" id="previewImg" src="media/user.png" class="rounded-circle" alt="Placeholder"></div><br>
<span class="btn btn-light btn-file" >
  Profile Photo...<input type="file" name="profile_image" id="photofile" accept="image/*;capture=camera" onchange="previewFile(this);">
</span></center>
<!--<video id="video" width="320" height="240" autoplay></video>-->
<!--<canvas id="canvas" style="position:fixed;left:-1000px;" width="320" height="240"></canvas>-->
<!--<button id="click-photo" class="btn btn-success">Click Photo</button>-->
<!--<button id="start-camera" class="btn btn-success">Start Camera</button>-->

<script>
//     let camera_button = document.querySelector("#start-camera");

// let video = document.querySelector("#video");
// let click_button = document.querySelector("#click-photo");
// let canvas = document.querySelector("#canvas");
// var stream;
// camera_button.addEventListener('click', async function() {
//   	stream = await navigator.mediaDevices.getUserMedia({ video: true, audio: false });
// 	video.srcObject = stream;

//     // stream.getAudioTracks()[0].stop();
//     // audio.src = '';

// });



// click_button.addEventListener('click', function() {
//   	canvas.getContext('2d').drawImage(video, 0, 0, canvas.width, canvas.height);
//   	let image_data_url = canvas.toDataURL('image/jpeg');
//     stream.getVideoTracks()[0].stop();
//     video.srcObject = null;
//     camera_button.innerHTML='Try again';
//     document.getElementById("previewImg").src=image_data_url;


// $("#photofile").change(function(){
//     readURL(this);
// });
//   	// data url of the image
// });
</script>

     <!--{{ form.profile_image|as_crispy_field }}-->

        <div class="input-group col-md-12" style="margin-left:4%">
      <div class="form-group col-md-6">
        {{ form.role|as_crispy_field }}<i class="fa fa-select"></i>
      </div>&nbsp;
      <div class="form-group col-md-5">
        {{ form.teamcode|as_crispy_field }}
        <span style="float:right;font-size:11px">Optional</span>
      </div>
    </div>
    <div class="input-group col-md-12" style="margin-left:4%">
      <div class="form-group col-md-6">
       {{ form.first_name|as_crispy_field }}
      </div>&nbsp;
      <div class="form-group col-md-5">
        {{ form.last_name|as_crispy_field }}
        <span style="float:right;font-size:11px">Optional</span>
      </div>
    </div>
  <div class="input-group col-md-12" style="margin-left:4%">
      <div class="form-group col-md-6">
        {{ form.username|as_crispy_field }}
      </div>&nbsp;
      <div class="form-group col-md-5">
        {{ form.email|as_crispy_field }}
      </div>
    </div>
    <div class="input-group col-md-12" style="margin-left:4%">
      <div class="form-group col-md-6">
       {{ form.password1|as_crispy_field }}
      </div>&nbsp;
      <div class="form-group col-md-5">
        {{ form.password2|as_crispy_field }}
      </div>
    </div>
      <div class="input-group col-md-12 " style="margin-left:4%">
      <div class="form-group col-md-3" >
        {{ form.phonecode|as_crispy_field }}
      </div>&nbsp;
      <div class="form-group col-md-8 mb-0">
        {{ form.phone|as_crispy_field }}
      </div>
    </div>
          <script>
            $('#id_password1, #id_password2').on('keyup', function () {
                if ($('#id_password1').val() == $('#id_password2').val()) {
                    $('#mess').html('Matching').css('color', 'green');
                } else
                    $('#mess').html('Not Matching').css('color', 'red');
            });</script>
            <script>
            function ShowFunction() {
              var x = document.getElementById("id_password1");
              var y = document.getElementById("id_password2");
              if (x.type === "password") {
                x.type = "text";
                y.type="text";
              } else {
                x.type = "password";
                y.type="password";
              }
            }
            var myInput = document.getElementById("pass");
            var letter = document.getElementById("letter");
            var capital = document.getElementById("capital");
            var number = document.getElementById("number");
            var special = document.getElementById("special");
            var length = document.getElementById("length");

            // When the user clicks on the password field, show the message box
            myInput.onfocus = function() {
              document.getElementById("message").style.display = "block";
            }

            // When the user clicks outside of the password field, hide the message box
            myInput.onblur = function() {
              document.getElementById("message").style.display = "none";
            }

            // When the user starts to type something inside the password field
            myInput.onkeyup = function() {
              // Validate lowercase letters
              var lowerCaseLetters = /[a-z]/g;
              if(myInput.value.match(lowerCaseLetters)) {
                letter.classList.remove("invalid");
                letter.classList.add("valid");
              } else {
                letter.classList.remove("valid");
                letter.classList.add("invalid");
              }

              // Validate capital letters
              var upperCaseLetters = /[A-Z]/g;
              if(myInput.value.match(upperCaseLetters)) {
                capital.classList.remove("invalid");
                capital.classList.add("valid");
              } else {
                capital.classList.remove("valid");
                capital.classList.add("invalid");
              }

              // Validate numbers
              var numbers = /[0-9]/g;
              if(myInput.value.match(numbers)) {
                number.classList.remove("invalid");
                number.classList.add("valid");
              } else {
                number.classList.remove("valid");
                number.classList.add("invalid");
              }
            // Validate special charecter
              var specials = /[#$@!%^&*_]/g;
              if(myInput.value.match(specials)) {
                special.classList.remove("invalid");
                special.classList.add("valid");
              } else {
                special.classList.remove("valid");
                special.classList.add("invalid");
              }
              // Validate length
              if(myInput.value.length >= 8) {
                length.classList.remove("invalid");
                length.classList.add("valid");
              } else {
                length.classList.remove("valid");
                length.classList.add("invalid");
              }
            }
                            </script>
                            <br>

<center>
     	<input type="submit" style="background-color:#728C00;color:white;font-weight:bold" class="btn" value="Sign Up"></center>

    <center> <span>	<font color="white">Already have an Account? </font><a id="urls" style="color:yellow;"><b> Sign In</b></a></span></center>

<script>

                                                                            var url_string = window.location.href;
                                                                            var url = new URL(url_string);
                                                                            var a = document.getElementById('urls'); //or grab it by tagname etc

                                                                            var value = url.searchParams.get("redirect_url");
                                                                            if (value== null){
                                                                                a.href = "/"
                                                                            }else{
                                                                                a.href = "/?redirect_url="+value
                                                                            }



                                                                            </script>
</form>
</div>
<div class="col-md-3"></div>
</div>
</div>

{% endblock content %}
